version: '3'
services:
  rabbitmq:
    image: 'rabbitmq:3-management'
    container_name: 'think-micro-rmq'
    hostname: 'node1'
    ports:
      - '5672:5672'
      - '15672:15672'
    networks:
      - think-micro-network
    volumes:
      - 'rabbitmq:/var/lib/rabbitmq'
  redis:
    image: redis:5.0.8
    container_name: 'think-micro-redis'
    ports:
      - "6379:6379"
    volumes:
      - "~/docker-data/think-micro-redis/data:/data"
    networks:
      - think-micro-network

networks:
  think-micro-network:
    driver: bridge

volumes:
  rabbitmq: